body {
  background-color: rgb(50,50,50);
  color: white;
  font-family: monospace, Arial, helvetica, sans-serif;
  line-height: 1.7em;
}
#title {
  color: white;
  font-size: 2em;
  font-family: Arial, helvetica, sans-serif;
  margin-left: 10%;
  float: left;
}

#github_link {
  font-family: sans-serif;
}

.container1 {
  width: 80%;
  margin: auto;
  background-color: rgb(75, 75, 75);
  padding: 10px 12px 50px 12px;
  border: 12px rgb(60,60,60) solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navBar {
  padding-top: 2em;
  overflow: auto;
  width: 100%;
  background-color: inherit;
  margin-bottom: 2em;
  position: fixed;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(23, 248, 255);
  text-decoration: underline;
}
